{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <div class="card card-shadow">
            <div class="card-block">
                <i class="icon md-mood-bad font-size-80 yellow-800" aria-hidden="true"></i>
                <h3>{% trans "Social Network Login Failure" %}</h3>
                <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
