{% extends 'base.html' %}

{% block title %}Privacy Policy - Mzyann{% endblock %}

{% block content %}
<div class="page">
    <div class="page-header">
        <h1 class="page-title">Privacy & Policy</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="row" dir="rtl">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body font-size-16">
                    <p>
                        نظرة عامة فهم سياساتنا تقدم سياسات الموقع التي ننتهجها إرشادات بشأن أنواع المحتوي المسموح بة عندما يقدم العملاء طلباتهم، تتم مراجعة محتواهم مقارنة بهذه السياسات. إذا كنت تعتقد أن إعلانك لم تتم الموافقة عليه عن طريق الخطأ،يرجي التواصل معنا السياسة الخاصة بصاحب المحتوي قبل أن تظهر محتواك على mzyann، تتم مراجعتها للتأكد من توافقها مع السياسات الخاصة بنا. وعادة ما تتم المراجعة في غضون 24 ساعة إلا إنها قد تستغرق وقتًا أطول في بعض الحالات لأمور التي نضعها في الاعتبار أثناء عملية المراجعة، سنقوم بفحص الصور والنص والاستهداف والموضع لمحتواك، قد لا تتم الموافقة على إعلانك إذا كان لا يتوافق مع المنتجات أو الخدمات التي يروجها أو لا تمتثل بشكل كامل للسياسات التي ننتهجها ما يحدث بعد مراجعة الإعلان؟ بعد مراجعة محتواك، ستتلقى إشعارًا يخبرك بالموافقة علية أو رفضه. 
                        إذا تمت الموافقة ، فسنبدأ تشغيله ويمكنك مشاهدة علي الصفحة الخاصة بنا 
                        الخطوات التي يمكن اتخاذها في حالة الرفض تعديل محتواك إذا لم تتم الموافقة على محتواك لعدم توافقه بشكل كامل مع سياساتنا، يمكنك تعديله وإعادة تقديمه للمراجعة. لتعديل محتواك.
                    </p>
                    <ul>
                        <li>تأكد من أن عنوان البريد الإلكتروني اورقم الواتس صحيح إذا لم تتم الموافقة على إعلانك، فإننا نقوم بإرسال رسالة إليك تتضمن تفاصيل توضح سبب ذلك</li>
                        <li>باستخدام المعلومات الواردة في رسالة الرفض،يمكنك تعديل محتواك على نحو يجعله متوافقًا.</li>
                        <li>قم بحفظ التغييرات المتعلقة بالتعديل. بمجرد حفظ التغييرات، يتم إعادة تقديم محتواك للمراجعة بعض التعليمات الخاصة لمحتوي</li>
                    </ul>
                    <h3>سياسة المعلنينن</h3>
                    <ol>
                        <li>يتم تقديم معلومات صحيحة للشخص المعلن و غير وهمية و يتم ربطها با رقام هاتف و مواقع تواصل اجتماعي تعمل بالفعل.</li>
                        <li>يتم ملئ البوم الصور الخاص بمحتواك يصور عالية الجودة. </li>
                        <li>الصور التي داخل محتواك حقوق النشر الخاصة بها هي مسؤلية صاحب المحتوي وليس من وظيفة الموقع مراجعة صاحب الصور و ليس من حق صاحب الصور مسالة الموقع.</li>
                        <li>لا يسمح بصور خادشة للحياء او لا تتناسب مع االزوق العام.</li>
                        <li>لا يسمح بالصور التي تحتوي علي صورتين قبل وبعض.</li>
                        <li>يجب ألا تتضمن المحتوي أي شئ ينتهك أو يعتدي على حقوق أي جهة خارجية، بما في ذلك حقوق النشر أو العلامات التجارية أو الخصوصية أو الدعاية أو أي حقوق شخصية أو حقوق ملكية أخر.</li>
                        <li>يتم تحديث الابوم الخاص بك كل ثلاثة شهور و الا سوف يتم ازالة الحساب.</li>
                        <li>في حالة و جود شكوي من جهة رسمية في حق صاحب المحتوي سيتم اتباع الخطوات القانونية.</li>
                        <li>يتم تحديد الا شخاص المسموح لهم برؤية المحتوي الخاص بك بواستطك.</li>
                    </ol>
                    <h3>سياسة الزائرين</h3>
                    <ol>
                        <li>يتم التسجيل بواسطة بيانات صحيحة و غير خادعة.</li>
                        <li>لا يسمح بتحميل صور من الموقع او اخر لقطة للشاشة .</li>
                        <li>يجب ان يعلم الزائر ان الموقع غير مسؤل عن اراء الزائرين و تقيمهم لصاحب المحتوي.</li>
                        <li>اي خطا في تنفي  العمل سواء تاخير او سوء جودة يتحملة صاحب المحتوي ليس للموقع اي مسؤلية.</li>
                    </ol>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
</div>
{% endblock %}

